---
import workData from '../data/work.json';
import WorkEntry from './WorkEntry.astro';
---

<section class="mx-auto max-w-screen-sm p-5 space-y-6">
    <h2 class="text-xl font-semibold">💼 Work Experience</h2>
    { workData.map((job) => (
        <WorkEntry
            company={job.company}
            companySite={job.companySite}
            period={job.period}
            position={job.position}
            tasks={job.tasks}
        />
    ))}
</section>